<form class="form-basic" method="post" action="#">

        <div class="form-title-row">
            <h1>Customer Details</h1>
        </div>
        <div class="form-row">
            <label>
                <span>Please select</span>
                <select name="dropdown">
                    <option>Prof</option>
                    <option>Dr</option>
                    <option>Mr</option>
                    <option>Ms</option>
                    <option>Mrs</option>
                </select>
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Name</span>
                <input type="text" name="name">
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Surname</span>
                <input type="text" name="name">
            </label>
        </div>
        <div class="form-title-row">
            <h1>Vehicle Info</h1>
        </div>
        <div class="form-row">
            <label>
                <span>Vin number</span>
                <input type="email" name="email">
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Vehicle Mileage</span>
                <input type="email" name="email">
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Registration number</span>
                <input type="email" name="email">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Work Done</span>
                <select name="dropdown">
                    <option>Minor Service</option>
                    <option>Major Service</option>
                    
                </select>
            </label>
        </div>
        

       <div class="form-row">
            <label>
                <span>Comments<br>e.g. Other work done</span>
                <textarea name="textarea"></textarea>
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>101 Point Check done?</span>
                <input type="checkbox" name="checkbox" checked>
            </label>
        </div>
        <h3>Mechanical</h3>
        <div class="form-row">
            <label><span>Cambelt & Tensioners</span></label>
            <div class="form-radio-buttons">

                <div>
                    <label>
                        <input type="radio" name="cam">
                        <span>Replaced Cambelt</span>
                    </label>
                </div>

                <div>
                    <label>
                        <input type="radio" name="cam">
                        <span>Replaced Cambelt + Waterpump<span>
                    </label>
                </div>

                <div>
                    <label>
                        <input type="radio" name="cam">
                        <span>Replaced Timing Chain</span>
                    </label>
                </div>
            </div>
        </div>
            
            <h3>Braking System</h3>
        <div class="form-row">
            <label><span>Brakes</span></label>
            <div class="form-radio-buttons">

                <div>
                    <label>
                        <input type="radio" name="Br">
                        <span>Brakes replaced - Front</span>
                    </label>
                </div>

                <div>
                    <label>
                        <input type="radio" name="Br">
                        <span>Brakes Replaced - Rear<span>
                    </label>
                </div>
        
                <div>
                    <label>
                        <input type="radio" name="Br">
                        <span>Brakes replaced - Front & Rear</span>
                    </label>
                </div>

            </div>
        </div>

        <div class="form-row">
            <button type="submit">Submit Form</button>
        </div>

    </form>
